/*Mainpage*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/backgroundImage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Navar*/
ul li{
    display: inline;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}
/*Main container*/
.container{
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: 15px;
    font-size: 25px;
}
.bodyPage{

    margin: 30px;

}
a{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 20px;
    transition: 300ms ease-in-out;
    
}
.left-list {
    float: left;
}
.right-list {
    float: right;

}
.right-list a:hover{
    background-color: #182231;
}
/*Body From the page*/
.bodyPage{
    color: aliceblue;
    text-align: right;
    font-size: 25px;
    margin: 45px;
    padding: auto;
    margin-top: 300px;
    margin-right: 150px;
    margin-bottom: 400px;
}
/*Button*/
.btnCv{
    background-color: #ff334e;
    border-color: #ff334e;
    border-radius: 100px;
    color: white;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
/*button when is pressed*/
.btnCv:active{
    background-color: #a50016;
    border-color: #a50016;;
    
}
/*---------------About me--------------------------*/
.containerAboutMe{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #020225f6;
    color: white;
    margin: 0;
}
.containerAboutMe span{
    color: #20A4F3;
}

.containerAboutMe {
    display: flex;
    justify-content: space-between;
    
    height: 100vh;
}

.aboutMeText {
    flex: 2;
    padding: 20px;
    text-align: center;
}
.aboutMeText h4{
    font-size: 45px;
}
.aboutMeText p{
    font-size: 37px;
}

.image {
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #020225f6;
    margin-top: 45px;
    border-radius: 50px;
}

.image img {
    width: 100%;
    height: auto;

}
/*----------------------Proyects----------------------------------*/
.containerProyects{
    background-color: #020225f6;
    color: white;
}
.containerProyects h4{
    font-size: 30px;
    text-align: center;
    color: #20A4F3;

}
.containerProyects .firstProyect .tittle{
    font-size: 25px;
    margin: 25px;
}
.containerProyects .firstProyect .proyect{
    display: flex;
}
.containerProyects .firstProyect .proyect .paragraf{
    font-size: 20px;
    width: 40%;
    border-radius: 10%;
    text-align: center;
    padding-top: 7%;
}
.containerProyects .firstProyect .proyect .paragraf h3{
    margin: 50px;
    text-align: center;
    color: #20A4F3;
}
.containerProyects .firstProyect .proyect .paragraf .tecnologiesProyectMuro{
    
    margin-left: 25px;
    text-align: center;

}
.containerProyects .firstProyect .proyect .paragraf .tecnologiesProyectMuro .tecnologies{
    margin: 10px;
}

.containerProyects .firstProyect .proyect .imageProyect img{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
/*---------------------Slides-------------------------------------*/
/*.containerProyects{
position: relative;
width: 100%;
height: 100vh;
background-color: #020225f6;
color: white;
}
.slider input{
    visibility: hidden;
    display: none;
}
.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
}
.buttons label{
    width: 20px;
    height: 20px;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms;
}
.buttons label:hover{
    scale: 1.2;
    opacity: 1;
}
.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3){
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}
.contentSlide{
    position: relative;
    width: 300vw;
    display: flex;
    transition: 300ms ease-in-out;

}
.firstSlide, .secondSlide, .tirdSlide{
    position: relative;
    width: 100vw;
    height: 100vh;
    /*display: flex;
    justify-content: center;
    align-items: center;

}
.slider input:nth-child(1):checked ~ .contentSlide{
    left: 0;
}
.slider input:nth-child(2):checked ~ .contentSlide{
    left: -100vw;
}
.slider input:nth-child(3):checked ~ .contentSlide{
    left: -200vw;
}

/*-------------------------first slide----------------------------------*/

/*.firstSlide{
    background-color: #020225f6;
    margin-right: 10px;
    
}
.firstSlide .tittle{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.firstSlide .proyect{
display: flex;
justify-content: space-between;
}
.firstSlide .proyect .paragraf{
    flex: 0.5;
    font-size: 25px;
    margin-top: 200px;
}
.firstSlide .proyect .paragraf .tecnologiesSlideMuro{
    display: flex;
}
.firstSlide .proyect .imageSlide{
    width: 70vw;
    max-width: 2000px;
    min-width: 300px;
}*/
/*-------------------------second slide----------------------------------*/
/*.secondSlide{
    background-color: #020225f6;
}
.secondSlide .tittle{
    text-align: center;
    margin-bottom: 30px;
}
.secondSlide .proyectAgenda{
    display: flex;
    justify-content: space-between;
}
.secondSlide .proyectAgenda h3{
    color: #079cff;
}
.secondSlide .proyectAgenda .detailsAgenda{
    flex: 0.5;
    font-size: 25px;
    margin-top: 200px;
}
.secondSlide .proyectAgenda .detailsAgenda .tecnologiesAgenda{
    display: flex;
    
}
.tecnologiesAgenda .javascript, .css, .html{

    margin: 10px;
}
.secondSlide .proyectAgenda .imageAgenda{
margin-top: 100px;
width: 60vw;
max-width: 2000px;
min-width: 300px;
}
/*-------------------------third slide----------------------------------*/
/*.thirdSlide .tittle{
    align-items: center;
}
.thirdSlide .proyectEMarket{
    display: flex;
}
.thirdSlide .proyectEMarket .detailsEMarket{

    font-size: 25px;
    margin-top: 200px;
}
.thirdSlide .proyectEMarket .detailsEMarket .tecnologiesEMarket{
    display: flex;
}
.thirdSlide .proyectEMarket .imageEMArket{
    float: right;
}


/*----------------------------------------------------------------------*/
.containerContactMe{
    margin: 400px;
    background-color: #020225f6;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    padding: 50px 100px;
}
.boxesContact{
    display: flex;
    justify-content: center;
    margin: 40px;
    background-color: #020225f6;
}
.boxesContact .boxMail{
    width: 40%;
    padding: 40px;
    margin-right: 300px;
    display: inline-block
}
.boxesContact .boxMail label{
    font-size: 30px;
    font-weight: 500;
}
.boxesContact .boxMail .boxInput{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.boxesContact .boxMail .boxInput input,
.boxesContact .boxMail .boxInput textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #20A4F3;
    outline: none;
    background-color: transparent;
    color: white;
}


.boxesContact .boxMail span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #2778a3;
    font-size: 20px;
     
}
.boxesContact .boxMail .boxInput input:focus ~ span,
.boxesContact .boxMail .boxInput input:valid ~ span{
    color: #079cff;
    font-size: 15x;
    transform: translateY(-25px);
}
.boxesContact .boxMail .boxInput textarea:focus ~ span,
.boxesContact .boxMail .boxInput textarea:valid ~ span{
    color: #079cff;
    font-size: 15x;
    transform: translateY(-25px);
}
.tittleBox{
    margin-bottom: 100px;
}
.boxesContact .icon{
    min-width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}
